* {
  margin: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

.left_menu {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100%;
  min-height: 97vh;
  padding: 20px;
  background-color: #fff;
  box-shadow: 10px 5px 20px black;
  text-align: center;
}

.spans {
  display: none;
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
}
.spans > img {
  margin-left: 5px;
  width: 20px;
}

/* .left_menu:hover {
  width: 200px;
} */

/* .left_menu:hover .button_field {
  display: flex;
} */
/* .left_menu:hover .logo {
  display: flex;
} */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-family: "Outfit", sans-serif;
}

.logo_icon {
  width: 50px;
}

.logo span {
  font-size: 30px;
  font-weight: bold;
}

.icons {
  display: block;
  position: relative;
  text-align: center;
  align-items: center;
}

.button_field {
  height: auto;
  width: auto;
  display: block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.button_field > img {
  width: 30px;
}
.button_field:hover {
  background-color: gray;
}
.button_field::after {
  background-color: rgba(174, 206, 255, 1);
  color: rgb(0, 100, 239);
}

.expand_collapse_menu {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
}
.expand_collapse_menu > img {
  width: 50px;
}

.show_less {
  display: none;
}

.accordion {
  background-color: #eee;
  border: none;
  transition: 0.2s;
}

.panel {
  padding: 0 18px;
  text-align: left;
  display: none;
  overflow: hidden;
  font-size: 18px;
  background-color: #eee;
  border-radius: 0px 0px 10px 10px;
}

.panel_item {
  padding: 10px 0px;
  margin-top: 2px;
  cursor: pointer;
}

.panel_item:hover {
  text-decoration: underline;
}

.roll_up_panel {
  display: none;
}
.expand_panel {
  display: none;
}
